<div id="user-login-form-container" style="visibility: hidden;">
    <form id="user-login-form">
        <input type="hidden" id="unique-seed" name="seed">

        <label>
            <span>Username: &nbsp;</span>
            <input type="text" name="username">
        </label>

        <br>

        <label>
            <span>Password: &nbsp;</span>
            <input type="password" name="password">
        </label>

        <br>

        <input type="submit" value="log in">
    </form>
</div>