<h3>Log in</h3>

<form id="user-login-form">
    <input type="hidden" id="seed-input">

    <label>
        <span>Username: &nbsp;</span>
        <input type="text" id="username-input" value="josh" disabled>
    </label>

    <br>

    <label>
        <span>Password: &nbsp;</span>
        <input type="password" id="password-input" value="lol" disabled>
    </label>

    <br>

    <input type="submit" id="submit-input" value="log in" disabled>
</form>

<hr>

<h3>Create new user</h3>

<form id="new-user-form">
    <label>
        <span>Username: &nbsp;</span>
        <input type="text" id="new-username-input">
    </label>

    <br>

    <label>
        <span>Password: &nbsp;</span>
        <input type="password" id="new-password-input">
    </label>

    <br>

    <input type="submit" id="new-submit-input" value="register">
</form>