<form id="user-login-form">
    <label>
        <span>Username:</span>
        <input type="text" autofocus>
    </label>

    <br>

    <label>
        <span>Password:</span>
        <input type="password">
    </label>

    <br>

    <input type="submit" value="log in">
</form>