<div id="user-login-form-container">
    <form id="user-login-form">
        <input type="hidden" id="seed-input" name="seed">

        <label>
            <span>Username: &nbsp;</span>
            <input type="text" id="username-input" name="username" disabled>
        </label>

        <br>

        <label>
            <span>Password: &nbsp;</span>
            <input type="password" id="password-input" name="password" disabled>
        </label>

        <br>

        <input type="submit" id="submit-input" value="log in" disabled>
    </form>
</div>